.footer__center .footer__button {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  padding: 7px;
  border-radius: 50%;
  border: 2px solid #1d2226;
  background-color: #21272c;
}

.footer, .footer__left .footer__image, .footer__center .footer__button {
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.footer__center .footer__button:hover, .footer__center .footer__button--pause {
  -webkit-box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
          box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  font-family: "Arial";
  color: #c8c8c8;
  background-color: #16191b;
  border-bottom: 3px solid black;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 90px;
    bottom: 0;
    z-index: 100;
    border-bottom: none;
  }
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left .footer__image {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 5px;
  border: 3px solid #1d2226;
}

@media screen and (min-width: 768px) {
  .footer__left .footer__image {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    border: 5px solid #1d2226;
  }
}

@media screen and (min-width: 768px) {
  .footer__left .footer__songInfo {
    width: 21vw;
    max-width: 280px;
  }
}

.footer__left .footer__songInfo .footer__song {
  margin-bottom: 3px;
  font-size: 0.85rem;
  font-weight: bold;
  color: #c8c8c8;
}

@media screen and (min-width: 768px) {
  .footer__left .footer__songInfo .footer__song {
    font-size: 0.9rem;
  }
}

.footer__left .footer__songInfo .footer__artists {
  font-size: 0.8rem;
  font-weight: 500;
  color: #6e6e6e;
}

@media screen and (min-width: 768px) {
  .footer__left .footer__songInfo .footer__artists {
    font-size: 0.85rem;
  }
}

.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__center .footer__button {
  margin-right: 15px;
}

.footer__center .footer__button--small {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  padding: 9px;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #1d2226;
  background-color: #292e32;
  cursor: default;
  color: #c8c8c8;
}

@media screen and (min-width: 768px) {
  .footer__center .footer__button--small {
    padding: 6px;
    font-size: 15px;
  }
}

.footer__center .footer__button--small:last-child {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__center .footer__button--small:last-child {
    display: inline-block;
  }
}

.footer__center .footer__button--medium {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__center .footer__button--medium {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
  }
}

.footer__center .footer__button--pause,
.footer__center .footer__button--play {
  -webkit-box-sizing: initial;
          box-sizing: initial;
  padding: 9px;
  font-size: 15px;
  border-radius: 50%;
  border: 2px solid #1d2226;
  background-color: #292e32;
  cursor: default;
  color: #c8c8c8;
}

@media screen and (min-width: 768px) {
  .footer__center .footer__button--pause,
  .footer__center .footer__button--play {
    padding: 13px;
    font-size: 25px;
  }
}

.footer__center .footer__button--pause {
  border: 2px solid #02a043;
  background-color: #1db854;
}

.footer__right {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__right .footer__icon {
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #6e6e6e;
}

.footer__right .footer__slider {
  width: 75px;
  color: #1db854;
}

.footer--visible {
  bottom: 64px;
  -webkit-transition: bottom 200ms ease;
  transition: bottom 200ms ease;
}

@media screen and (min-width: 768px) {
  .footer--visible {
    bottom: 0;
  }
}
/*# sourceMappingURL=Footer.css.map */