// Colors configuration
$colors: (
  primary: rgba(33, 39, 44, 1),
  secondary: rgba(36, 41, 45, 1),
  primaryAccent: rgba(29, 184, 84, 1),
  secondaryAccent: rgba(200, 200, 200, 1),
  greyText: rgba(110, 110, 110, 1),
  greenBorder: rgba(2, 160, 67, 1),
  blackBorder: rgba(29, 34, 38, 1),
  backgroundPrimary: rgba(49, 55, 60, 1),
  backgroundSecondary: rgba(0, 0, 0, 1),
  navbarPrimary: rgba(22, 25, 27, 1),
  navbarBorder: rgba(125, 126, 127, 0.2),
  button: rgba(41, 46, 50, 1),
);

// Fonts configuration
$fonts: (
  primary: "Arial",
);

// Buttons configuration
%largeButton {
  display: block;
  width: 90%;
  padding: 10px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: default;
  color: #fff;
  border-radius: 99px;
  border: 2px solid map-get($colors, blackBorder);
  background-color: map-get($colors, button);
}

@mixin roundButton($padding, $fontSize) {
  box-sizing: initial;
  padding: $padding;
  font-size: $fontSize;
  border-radius: 50%;
  border: 2px solid map-get($colors, blackBorder);
  background-color: map-get($colors, button);
  cursor: default;
  color: map-get($colors, secondaryAccent);
}

%footerButton {
  box-sizing: initial;
  padding: 7px;
  border-radius: 50%;
  border: 2px solid map-get($colors, blackBorder);
  background-color: map-get($colors, primary);
}

// Shadow configuration
%shadow {
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 200ms ease;
}

%shadowOnClick {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  transition: all 200ms ease;
}

// Media Querie configuration
$ipad: 768px;
$desktop: 1100px;

@mixin ipad {
  @media screen and(min-width: #{$ipad}) {
    @content;
  }
}

@mixin desktop {
  @media screen and(min-width: #{$desktop}) {
    @content;
  }
}
