@import "config.scss";

.footer {
  display: none;
  @extend %shadow;
  @include ipad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    font-family: map-get($fonts, primary);
    color: map-get($colors, secondaryAccent);
    background-color: map-get($colors, navbarPrimary);
  }

  &__left {
    display: flex;
    align-items: center;

    .footer__image {
      width: 65px;
      height: 65px;
      margin-right: 10px;
      border-radius: 10px;
      border: 5px solid map-get($colors, blackBorder);
      @extend %shadow;
    }

    .footer__songInfo {
      @include ipad {
        width: 21vw;
        max-width: 280px;
      }

      .footer__song {
        margin-bottom: 3px;
        font-size: 0.9rem;
        font-weight: bold;
        color: map-get($colors, secondaryAccent);
      }

      .footer__artists {
        font-size: 0.85rem;
        font-weight: 500;
        color: map-get($colors, greyText);
      }
    }
  }

  &__center {
    display: flex;
    align-items: center;

    .footer__button {
      margin-right: 15px;
      @extend %footerButton;
      @extend %shadow;
    }

    .footer__button:hover {
      @extend %shadowOnClick;
    }

    .footer__button--small {
      padding: 6px;
      font-size: 15px;
    }

    .footer__button-medium {
      padding: 10px;
      font-size: 20px;
    }

    .footer__button--pause,
    .footer__button--play {
      padding: 13px;
      font-size: 25px;
    }

    .footer__button--pause {
      @extend %shadowOnClick;
      border: 2px solid map-get($colors, greenBorder);
      background-color: map-get($colors, primaryAccent);
    }
  }

  &__right {
    display: flex;
    align-items: center;

    .footer__icon {
      margin-right: 15px;
      font-size: 20px;
      cursor: pointer;
      color: map-get($colors, greyText);
    }

    .footer__slider {
      width: 75px;
      color: map-get($colors, primaryAccent);
    }
  }
}
