@import "config.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: -100px;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  font-family: map-get($fonts, primary);
  color: map-get($colors, secondaryAccent);
  background-color: map-get($colors, navbarPrimary);
  border-bottom: 3px solid map-get($colors, backgroundSecondary);
  @extend %shadow;
  @include ipad {
    height: 90px;
    bottom: 0;
    z-index: 100;
    border-bottom: none;
  }

  &__left {
    display: flex;
    align-items: center;

    .footer__image {
      width: 48px;
      height: 48px;
      margin-right: 10px;
      border-radius: 5px;
      border: 3px solid map-get($colors, blackBorder);
      @extend %shadow;
      @include ipad {
        width: 65px;
        height: 65px;
        border-radius: 10px;
        border: 5px solid map-get($colors, blackBorder);
      }
    }

    .footer__songInfo {
      @include ipad {
        width: 21vw;
        max-width: 280px;
      }

      .footer__song {
        margin-bottom: 3px;
        font-size: 0.85rem;
        font-weight: bold;
        color: map-get($colors, secondaryAccent);
        @include ipad {
          font-size: 0.9rem;
        }
      }

      .footer__artists {
        font-size: 0.8rem;
        font-weight: 500;
        color: map-get($colors, greyText);
        @include ipad {
          font-size: 0.85rem;
        }
      }
    }
  }

  &__center {
    display: flex;
    align-items: center;

    .footer__button {
      margin-right: 15px;
      @extend %footerButton;
      @extend %shadow;
    }

    .footer__button:hover {
      @extend %shadowOnClick;
    }

    .footer__button--small {
      @include roundButton(9px, 15px);
      @include ipad {
        padding: 6px;
        font-size: 15px;
      }
    }

    .footer__button--small:last-child {
      display: none;
      @include ipad {
        display: inline-block;
      }
    }

    .footer__button--medium {
      display: none;
      @include ipad {
        display: inline-block;
        padding: 10px;
        font-size: 20px;
      }
    }

    .footer__button--pause,
    .footer__button--play {
      @include roundButton(9px, 15px);
      @include ipad {
        padding: 13px;
        font-size: 25px;
      }
    }

    .footer__button--pause {
      @extend %shadowOnClick;
      border: 2px solid map-get($colors, greenBorder);
      background-color: map-get($colors, primaryAccent);
    }
  }

  &__right {
    display: none;
    @include ipad {
      display: flex;
      align-items: center;
    }
    .footer__icon {
      margin-right: 15px;
      font-size: 20px;
      cursor: pointer;
      color: map-get($colors, greyText);
    }

    .footer__slider {
      width: 75px;
      color: map-get($colors, primaryAccent);
    }
  }
}

.footer--visible {
  bottom: 64px;
  transition: bottom 200ms ease;
  @include ipad {
    bottom: 0;
  }
}
