@import "config.scss";

.homeContent {
  height: 100vh;
  overflow-y: scroll;
  color: map-get($colors, secondaryAccent);
  background-image: linear-gradient(
    to bottom,
    map-get($colors, backgroundPrimary),
    map-get($colors, backgroundSecondary)
  );
  @include ipad {
    flex-grow: 1;
    overflow-y: scroll;
  }

  .setting__container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 10px;
    @include ipad {
      display: none;
    }

    .setting__icon {
      display: flex;
      cursor: pointer;
      @include roundButton(6px, 18px);
      @include shadow(6px);
    }

    .setting__icon:hover {
      @include shadowOnClick(10px);
    }
  }
}
