@import "config.scss";

.homeContent {
  height: 100vh;
  overflow-y: scroll;
  color: map-get($colors, secondaryAccent);
  background-image: linear-gradient(
    to bottom,
    map-get($colors, backgroundPrimary),
    map-get($colors, backgroundSecondary)
  );
  @include ipad {
    flex-grow: 1;
    overflow-y: scroll;
  }
}
