@import "./config.scss";

.libraryContent {
  height: 100vh;
  overflow-y: scroll;
  background-image: linear-gradient(
    to bottom,
    map-get($colors, primary),
    rgba(21, 23, 26, 1)
  );
  @include ipad {
    flex-grow: 1;
    overflow-y: scroll;
  }
}
