@import "./config.scss";

.myPlaylistName {
  margin-bottom: 15px;
  cursor: default;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: map-get($fonts, primary);
  color: map-get($colors, greyText);
}

.myPlaylistName:last-child {
  margin-bottom: 0;
}

.myPlaylistName:hover {
  color: map-get($colors, secondaryAccent);
  transition: color 200ms ease;
}
