@import "config.scss";

.navbarOptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 15px;
  height: 100%;
  font-weight: bold;
  font-family: map-get($fonts, primary);
  @include ipad {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 15px 20px;
  }

  &__list {
    @include ipad {
      width: 150px;
      margin-bottom: 15px;
    }

    .navbarOptions__item {
      cursor: default;

      @include ipad {
        display: flex;
        align-items: center;
        width: 110px;
        text-decoration: none;
      }

      .navbarOptions__text {
        display: none;
        @include ipad {
          display: inline-block;
          margin-left: 15px;
          font-size: 0.9rem;
          color: map-get($colors, greyText);
        }
      }

      .navbarOptions__icon {
        display: flex;
        @include roundButton(7px, 20px);
        @include shadow(3px);
      }
    }

    .navbarOptions__item:hover {
      .navbarOptions__icon {
        @include shadowOnClick(3px);
      }

      .navbarOptions__text {
        color: map-get($colors, secondaryAccent);
      }
    }

    .navbarOptions__item--selected {
      .navbarOptions__icon {
        @include shadowOnClick(3px);
        color: map-get($colors, primaryAccent);
      }

      .navbarOptions__text {
        color: map-get($colors, secondaryAccent);
      }
    }
  }
  &__list:last-child {
    margin-bottom: 0px;
  }
}
