@import "./config.scss";

.newReleaseAlbum {
  flex: 0 0 45%;
  margin: 0 auto 15px;
  padding-right: 1.4px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid map-get($colors, blackBorder);
  background-color: map-get($colors, secondary);
  @extend %shadow;

  img {
    width: 45px;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  .newReleaseAlbum__title {
    margin-left: 8px;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.3;
  }
}
.newReleaseAlbum:nth-child(5) {
  margin-bottom: 0;
}

.newReleaseAlbum:last-child {
  margin-bottom: 0;
}
