@import "config.scss";

.personalPlaylists {
  display: none;
  @include ipad {
    display: block;
    padding: 15px 20px;
    margin-bottom: 170px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-weight: bold;
    font-family: map-get($fonts, primary);
    color: map-get($colors, secondaryAccent);
    flex-grow: 1;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  &__underline {
    width: 90%;
    height: 2px;
    margin-bottom: 20px;
    background-color: map-get($colors, navbarBorder);
  }
}

.personalPlaylists::-webkit-scrollbar {
  display: none;
}
