@import "./config.scss";

.playlistSelectedHeader {
  font-family: map-get($fonts, primary);
  font-weight: bold;

  .header__iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .header__icons {
      @include roundButton(7px, 20px);
      border: 2px solid map-get($colors, primary);
      @extend %shadow;
    }
    .header__icons:hover {
      @extend %shadowOnClick;
    }

    .header__right {
      .header__icons:first-child {
        margin-right: 20px;
      }
    }
  }

  .header__playlistCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;

    .header__coverImage {
      width: 160px;
      margin: 10px 0 15px;
      border-radius: 15px;
      border: 5px solid map-get($colors, blackBorder);
      @extend %shadow;
      @include ipad {
        width: 250px;
        margin: 15px 0;
      }
    }

    .header__playlistName {
      margin-bottom: 3px;
      font-size: 1.3rem;
      color: map-get($colors, secondaryAccent);
      @include ipad {
        margin-bottom: 5px;
        font-size: 1.5rem;
      }
    }

    .header__playlistFollowers {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 0.7rem;
      color: map-get($colors, greyText);
      @include ipad {
        margin-bottom: 18px;
        font-size: 0.8rem;
      }

      .header__dot {
        margin: 0 5px;
        font-size: 0.85rem;
        color: map-get($colors, secondaryAccent);
        @include ipad {
          font-size: 1rem;
        }
      }
    }

    .header__playButton {
      padding: 7px 45px;
      font-size: 0.85rem;
      border-radius: 30px;
      border: 3px solid map-get($colors, greenBorder);
      background-color: map-get($colors, primaryAccent);
      color: map-get($colors, secondaryAccent);
      @extend %shadow;
      @include ipad {
        padding: 7px 55px;
        font-size: 0.9rem;
      }
    }

    .header__playButton:hover {
      @extend %shadowOnClick;
    }
  }
}
