@import "config.scss";

.playlistsRow {
  margin-bottom: 75px;
  font-weight: bold;
  font-family: map-get($fonts, primary);
  color: map-get($colors, secondaryAccent);
  @include ipad {
    margin-bottom: 100px;
  }

  .playlistsRow__title {
    margin: 0 0 8px 20px;
    cursor: default;
    font-size: 1.3rem;
    @include ipad {
      font-size: 1.5rem;
    }
  }

  .playlistsRow__covers {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .playlistsRow__covers::-webkit-scrollbar {
    display: none;
  }
}
