@import "config.scss";

.playlistSelectedContent {
  height: 100vh;
  overflow-y: scroll;
  color: map-get($colors, secondaryAccent);
  background-image: linear-gradient(
    to bottom,
    map-get($colors, backgroundPrimary),
    map-get($colors, backgroundSecondary)
  );
  @include ipad {
    flex-grow: 1;
    overflow-y: scroll;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .header__icons {
      display: flex;
      cursor: pointer;
      @include roundButton(6px, 20px);
      @include shadow(3px);
    }
    .header__icons:hover {
      @include shadowOnClick(3px);
    }

    .header__right {
      .header__icons:first-child {
        margin-right: 15px;
      }
    }
  }
}
