@import "./config.scss";

.popPlaylist {
  margin-right: 5px;
  padding: 7px 5px 0;

  img {
    width: 145px;
    cursor: pointer;
    border-radius: 15px;
    border: 5px solid map-get($colors, blackBorder);
    @include shadow(6px);
    @include ipad {
      width: 230px;
      border: 7px solid map-get($colors, blackBorder);
    }
  }

  .popPlaylist__artists {
    margin: 9px 0 2px 0;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    @include ipad {
      font-size: 0.9rem;
    }
  }
}

.popPlaylist:first-child {
  margin-left: 15px;
}
