@import "./config.scss";

.recentlyPlayedSong {
  margin-right: 5px;
  padding: 7px 5px 0;

  img {
    width: 115px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid map-get($colors, blackBorder);
    @include shadow(6px);
    @include ipad {
      width: 190px;
      border: 7px solid map-get($colors, blackBorder);
    }
  }

  .recentlyPlayedSong__artist {
    margin: 6px 0 2px 0;
    cursor: pointer;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: map-get($colors, secondaryAccent);
    @include ipad {
      font-size: 0.9rem;
    }
  }
}

.recentlyPlayedSong:first-child {
  margin-left: 15px;
}
