@import "./config.scss";

.recentlyPlayedAlbum {
  margin-right: 5px;
  padding: 7px 5px 0;

  .recentlyPlayedAlbum__cover {
    width: 115px;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid map-get($colors, blackBorder);
    @extend %shadow;
    @include ipad {
      width: 150px;
      border: 7px solid map-get($colors, blackBorder);
    }
  }

  .recentlyPlayedAlbum__artists {
    margin: 6px 0 2px 0;
    cursor: default;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: map-get($colors, secondaryAccent);
    @include ipad {
      font-size: 0.9rem;
    }
  }
}

.recentlyPlayedAlbum:first-child {
  margin-left: 15px;
}
