@import "./config.scss";

.songsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: bold;
  font-family: map-get($fonts, primary);

  &__left {
    display: flex;
    align-items: center;

    .songsRow__image {
      width: 48px;
      height: 48px;
      margin-right: 10px;
      border-radius: 5px;
      border: 3px solid map-get($colors, blackBorder);
      @include shadow(3px);
    }

    .songsRow__informations {
      .songsRow__song {
        margin-bottom: 3px;
        font-size: 0.85rem;
        color: map-get($colors, secondaryAccent);
      }

      .songsRow__artist {
        font-size: 0.8rem;
        font-weight: 500;
        color: map-get($colors, greyText);
      }
    }
  }

  .songsRow__icon {
    display: flex;
    cursor: default;
    @include roundButton(6px, 20px);
    @include shadow(3px);
  }

  .songsRow__icon:hover {
    @include shadowOnClick(3px);
  }
}
